*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
html,body{
    width : 100%;
    height: 100%;
}
.navbar{
    height:60px;
    background-color: rgba(32, 27, 24, 0.957);
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.nav-logo{
    height: 45px;
    width: 130px;
    background-size: cover;
    scale: 1.4;
    overflow: hidden;
    border-radius: 5px;
}

.border{
    border:1.5px solid transparent;
}
/** box2**/

.add-first{
color:#cccccc;
font-size: 0.85rem;
margin-left: 13px;
}
.add-second{
 font-size: 1rem;   
margin-left:3px;
}
.add-icon{
    display:flex;
    align-items:center;
}
/** box3**/
.nav-search{
    display:flex;
    justify-content: space-evenly;
    
    width:620px;
    height:40px;
    border-radius: 4px;
    border: none;
}
.search-select{
    background-color:#f3f3f3 ;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    border:none;
}
.search-input{
    width:100%;
    font-size:1rem;
    border:none;
}
.nav-search:hover{
    border:2px solid rgb(121, 28, 234);
    border-right: none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font: size 1.2rem;
    background-color:#1a81e7  ;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
    background: color #0f0f0f; ;


}
#selection{
    background-color: #ba8029;
    color: #dddddd;
}

/** box4**/
span{
    font-size:0.7rem;
}
.nav-second{
    font-size:0.90rem;
    font-weight:700;
}
.nav-return{
    color: #f3f3f3;
}
/** box6 **/
.nav-cart{
    background-color:rgb(38 38 38 / 96%);
    color: white;
    border: none;
}
.nav-cart i {
 font-size:30px;
}
.nav-Cart i {
    font-size: 0.85rem;
    font-weight:700;
}
.bag_item_count{
    color: rgb(250, 247, 247);
    background-color: rgb(234, 8, 8);
   padding: 3px;
   font-size: 20px;
   border-radius: 25px;
   margin-left: -90px;
   margin-bottom: 30px;
}


/**panel**/
.panel{
height : 40px;
background-color:#222f3d;
display:flex;
color:white;
align-items:center;
justify-content: space-evenly;
}
.panel-ops p {
    display:inline;
    margin-left:15px;
}
.panel-ops{
    width:70%;
    font-weight: 0.85rem;
}
.panel-deals{
    font-size:0.9rem;
    font-weight: 700;
}
/**hero section**/
.hero-section{
    background-image: url("https://img.freepik.com/premium-vector/realistic-cyber-monday-banner-template_252779-566.jpg");
    background-size:cover;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.4rem;
    width:80%;
    margin-bottom:25px;
    
}
.hero-msg a {
    color:#007185;
}
/**shop section**/
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#a3c3b7;
}
.box{
   /** border:2px solid black;**/
    height:500px;
    width:23%;
    background-color: rgb(231, 240, 240);
    padding: 20px 0px 15px;
    margin-top:15px;
    overflow: hidden;
}
.box-image{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0px;
   
}

.product_name{
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(237, 66, 66);
}
.price{
    font-size: larger;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    color: #1a81e7;
}
.addToCart_btn{
    height: 40px;
    width: 320px;
    margin-top: 10px;
    margin-left: 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #62c9db;
    cursor: pointer;
}
.addToCart_btn:hover{
    background-color: #0195af;
}
/**footer**/
footer{
    margin-top:15px;
}

.border:hover{
    border: 1px solid rgb(151, 148, 148);
}
.foot-panel2{
    background-color: #222f3d;
    color: white;;
    height:300px;
    display:flex;
    justify-content: space-evenly;
}
ul{
    margin-top:20px;
}
ul a {
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#dddddd;
}
.foot-panel3{
    background-color: #37475a;
    color:white;
    border-top:0.5px solid white;
    height:70px;
    display:flex;
    justify-content :center;
}
.logo{
    background-image: url("");
    background-size:cover;
    height:50px;
    width: 100px;
}
.foot-panel4{
    background-color:#0f1111;
    color:white;
    height:80px;
   font-size:0.7rem;
   text-align:center;
}
.pages{
padding-top:25px;
}
.copyright{
padding-top:5px;
}